mat-form-field {
    text-align: center !important;

    .mat-form-field-wrapper{
        .mat-form-field-underline{
            background-color: inherit;
        }
    }
}

mat-form-field:not(.mat-focused):hover{
    background-color: #e9e9e9;
}

time-picker{
    margin: auto;
}
