.blend-multiply{
  mix-blend-mode: multiply;
}

.blend-screen{
  mix-blend-mode: screen;
}
.element-mask {
  background-color: #fff;
}

.circle-follow {
  position :absolute;
  overflow : hidden;
  background-color: #000000;
  width :120px;
  height: 120px;
  top:calc( 50% - 60px);
  left:calc( 50% - 60px);
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: opacity 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: opacity 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);
  opacity : 0;
}


.circle-follow.moving {
  opacity : 1;
}
