/* responsive media queries */
/* max-width: current < max-width
min-width: current > min-width */

/* need to put in reverse order */


/* max-width */
@media screen and (max-width: 1199.98px){
   
}
@media screen and (max-width: 991.98px){
   
}
@media screen and (max-width: 767.98px){
   
}
@media screen and (max-width: 575.98px) {
    #welcome_section .quote_content {
        font-size: 5vw;
    }
}
@media screen and (max-width: 400px){
  
}

/* for large screens */
@media screen and (min-width: 1199.98px){
    .carousel .carousel-item-text{
        font-size: 2.5em;
    }
    .self_intro{
        padding-top: 10em;
    }
}

/* max height */
@media screen and (max-height: 800px){
    .self_intro {
        height: 100%;
        padding-top: 10em;
        background-color: rgba(156, 156, 156,0.9)
    }
}

@media screen and (max-height: 765px){
    .self_intro {
        height: 100%;
        padding-top: 5em;
        background-color: rgba(156, 156, 156,0.9)
    }
}

@media screen and (max-height: 732px){
    .hire_waterloo_img{
        max-width: 45%;
        height: auto;
    }
}