h1{
	font-size : 24px;
	font-family:Consolas;
	color: white;
}

.blended_grid{
	display:block;
	width:1000px;
	overflow:auto;
	margin:100px auto 0 auto;
}

.pageHeader{
	float:left;
	clear:none;
	height:500px;
	width:auto;
}
.pageLeftMenu{
	float:left;
	clear:none;
	height:600px;
	width:160px;
}
.pageContent{
	float:left;
	clear:none;
	height:680px;
	width:680px;
	overflow: hidden;
}
.pageRightMenu{
	float:left;
	clear:none;
	height:600px;
	width:auto;
}
.pageFooter{
	float:left;
	clear:none;
	height:100px;
	width:auto;
}
#oneTab{
	padding-left:2em;
}

a{
	text-decoration: none;
}

.link{
	font-family: Rockwell;
	color: rgb(22, 203, 96);
}

.import{
	color: #FF5722;
}

.comment{
	color: #9E9E9E;
}

.info{
	color: #FF9800;
}


.tops{
	width:auto;
	height:100px;
}

body{
	background-size: cover;
	background-repeat: no-repeat;
	overflow-y: hidden;
}

#twoTab{
	padding-left:4em;
}

#overlay{
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 999;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
